{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro sessionDetails(appointment, rarDetails, paths) %}
  {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9',
    attributes: {
      'data-qa': 'arrange-appointment/details'
    },
    rows: [
      {
        key: { text: "Type of appointment" },
        value: { text: appointment.typeDescription },
        classes: ["qa-type"],
        actions: {
          items: [
            {
              href: paths.type,
              text: "Change",
              visuallyHiddenText: "type of appointment",
              classes: ["qa-change"]
            }
          ]
        }
      },
      {
        key: { text: "Location" },
        value: { text: appointment.locationDescription },
        classes: ["qa-location"],
        actions: {
          items: [
            {
              href: paths.where,
              text: "Change",
              visuallyHiddenText: "location",
              classes: ["qa-change"]
            }
          ]
        }
      } if appointment.locationDescription and appointment.availableLocations,
      {
        key: { text: "Date" },
        value: { text: appointment.appointmentStart | longDate },
        classes: ["qa-date"],
        actions: {
          items: [
            {
              href: paths.when,
              text: "Change",
              visuallyHiddenText: "date",
              classes: ["qa-change"]
            }
          ]
        }
      },
      {
        key: { text: "Time" },
        value: { text: appointment.appointmentStart | timeRange(appointment.appointmentEnd) },
        classes: ["qa-time"],
        actions: {
          items: [
            {
              href: paths.when,
              text: "Change",
              visuallyHiddenText: "time",
              classes: ["qa-change"]
            }
          ]
        }
      },
      {
        key: { html: 'RAR' | abbr + ' activity' },
        value: { text: rarDetails.category if rarDetails and rarDetails.category else 'No' }
      },
      {
        key: { html: 'RAR' | abbr + ' activity subcategory' },
        value: { text: rarDetails.subCategory }
      } if rarDetails and rarDetails.subCategory,
      {
        key: { text: "Appointment notes" },
        value: { text: appointment.notes or 'None' },
        classes: ["qa-notes"],
        actions: {
          items: [
            {
              href: paths.notes,
              text: "Change",
              visuallyHiddenText: "notes",
              classes: ["qa-change"]
            }
          ]
        }
      },
      {
        key: { text: "Sensitive" },
        value: { text: appointment.sensitive | yesNo },
        classes: ["qa-sensitive"],
        actions: {
          items: [
            {
              href: paths.sensitive,
              text: "Change",
              visuallyHiddenText: "sensitivity",
              classes: ["qa-change"]
            }
          ]
        }
      }
    ]
  })
  }}
{% endmacro %}
