{% extends "../partials/layout.njk" %}

{% set pageTitle = "Your cases" %}

{% set requirementList %}
      <ul class="govuk-list govuk-list--bullet">
        <li>a single community order</li>
        <li>a {{ 'RAR' | abbr | safe }} requirement, and no other requirements</li>
      </ul>
{% endset %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ pageTitle }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
{% if cases.length %}
      <p>Not all cases are suitable for the {{ applicationName }} pilot. We’re only listing your cases that have:</p>
      {{ requirementList | safe }}
      <table class="govuk-table" data-qa="cases/case-list">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" data-qa="offender-details">Name and {{ 'CRN' | abbr | safe }}</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for case in cases %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" data-qa="offender-details">
                <a href="{{ case.links.view }}" class="govuk-!-font-size-24 govuk-!-font-weight-bold" data-qa="offender-link">{{ case.name }}</a><br />
                <span class="app-!-font-family-tabular govuk-!-margin-bottom-0" data-qa="offender-crn">{{ case.crn }}</span>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% else %}
      <div data-qa='cases/case-list/empty'>
        <p>None of the cases you manage meet the criteria for this pilot.</p> 
        <p>To qualify for the pilot, your cases must have:</p> 
        {{ requirementList | safe }}
        <p>We'll let you know when some of your cases become suitable.</p>
      </div>

{% endif %}
    </div>
  </div>
{% endblock %}
