dist/
kubectl_deploy/
helm_deploy/
node_modules/
README.md
LICENSE
.*
docker-compose.*yml
src/server/community-api/client/**/*
!src/server/community-api/client/.openapi-generator-ignore
!src/server/community-api/client/community-api.json