{% extends "../_layout.njk" %}
{% set pageName = 'Activity log' %}
{% set pageTitle = (filters[currentFilter].description | default(pageName)) + ' – ' + displayName %}
{% from 'components/summary-card.njk' import appSummaryCard %}

{% macro flatNotes(notes) -%}
    <p class="govuk-!-margin-bottom-0" data-qa='notes'>{{ notes | nl2BrSafe }}</p>
{%- endmacro %}
{% macro systemContact(entry) -%}
    <div class="govuk-hint govuk-!-margin-bottom-2 govuk-!-margin-left-3">
        <a href="{{ entry.links.view }}" class="app-!-inherit-colour" data-qa="offender/activity/{{ entry.id }}" >{{ entry.name }}</a>
    </div>
{%- endmacro %}

{% macro entryNotes(entry, open) -%}
    {% if entry.notes %}
        {% if entry.notes.length > 250 or entry.sensitive %}
            {{ govukDetails({
                summaryText: "Notes (sensitive)" if entry.sensitive else "Notes",
                html: flatNotes(entry.notes),
                open: open and not entry.sensitive,
                classes: 'govuk-!-margin-bottom-0'
            }) }}
        {% else %}
            {{ flatNotes(entry.notes) }}
        {% endif %}
    {% elif entry.sensitive %}
        {{ flatNotes('Sensitive (no notes)') }}
    {% else %}
        {{ flatNotes('No notes') }}
    {% endif %}
{%- endmacro %}

{% macro appointmentCard(entry, open, date) -%}
    {% set title %}
        <span class="govuk-heading-s govuk-!-margin-bottom-0">
            <a href="{{ entry.links.view }}">{{ entry.name }}
                <span class="govuk-!-font-weight-regular">at&nbsp;{{ entry.start | time }}</span>
                <span class="govuk-visually-hidden">
                    on {{ date | longDate }}
                </span>
            </a>
        </span>
        <span class='govuk-!-font-size-16' data-qa='sub-title'>
            {% if entry.nationalStandard %}
                National standard appointment
            {% else %}
                Appointment
            {% endif %}
        </span>
    {% endset %}
    {% call appSummaryCard({
        titleHtml: title,
        classes: 'govuk-!-margin-bottom-2',
        attributes: { 'data-qa': 'offender/activity/' + entry.id },
        actions: { items: [{ href: entry.links.recordMissingAttendance, html: 'Record an outcome<span class="govuk-visually-hidden"> for ' + entry.name + ' at ' + (entry.start | time) + '</span>' }] } if entry.links.recordMissingAttendance,
        actionsHtml: govukTag({ text: entry.outcome.tag.name, classes: entry.outcome.tag.colour | tagClassName + ' govuk-!-margin-left-2' }) if entry.outcome,
        headingLevel: 4
    }) -%}
        {% if entry.rarActivity or entry.enforcementAction or (entry.outcome.complied and not entry.outcome.attended)%}
            {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-0',
                rows: [
                    { key: { html: 'RAR' | abbr + ' activity' }, value: { text: entry.rarActivity.name or 'Yes' } } if entry.rarActivity,
                    { key: { text: 'Enforcement action' }, value: { text: entry.enforcementAction } } if entry.enforcementAction,
                    { key: { text: 'Reason for absence' }, value: { text: entry.outcome.description | replace("Acceptable Absence - ", "") } } if entry.outcome.complied and not entry.outcome.attended
                ]
            }) }}
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-1">
        {% endif %}
        {{ entryNotes(entry, open) }}
    {%- endcall %}
{%- endmacro %}

{% macro plainCard(entry, open, date, options) -%}
    {% set title %}
        <a href="{{ entry.links.view }}">
            {{ entry.name }}
            {% if options.time %}
                <span class="govuk-!-font-weight-regular">at&nbsp;{{ entry.start | time }}</span>
            {% endif %}
            <span class="govuk-visually-hidden">
                on {{ date | longDate }}
            </span>
        </a>
    {% endset %}
    {% call appSummaryCard({
        titleHtml: title,
        classes: 'govuk-!-margin-bottom-2 app-summary-card--plain-header',
        attributes: { 'data-qa': 'offender/activity/' + entry.id },
        headingLevel: 4
    }) -%}
        {{ entryNotes(entry, open) }}
    {%- endcall %}
{%- endmacro %}

{% block page %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <div class="app-card">
                {{ govukButton({
                    text: 'Add to log',
                    href: links.addActivity,
                    attributes: {
                        'data-qa': 'offender/add-activity-button'
                    }
                }) }}

                {% if currentFilter %}
                    <p><a href="{{links.activity}}">Remove all filters</a></p>
                {% endif %}

                <h3 class="govuk-heading-m">Compliance filters</h3>

                <p> Filter the activity log by National Standard (NS) activities: </p>

                <ul class="govuk-list govuk-!-margin-bottom-0">

                {% for key, value in filters %}
                    <li><a {% if currentFilter == key %}class="govuk-!-font-weight-bold" aria-current="page"{% endif %} data-qa="offender/activity-filter-{{ key }}" href="{{links.activity}}/{{ key }}">{{ value.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <div class='govuk-grid-column-two-thirds'>
            {% if title %}
                <h2 class="govuk-heading-m">
                    {{ title }}
                </h2>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            {% endif %}

            {% set index = 0 %}
            {% for group in groups %}
                <section class='govuk-!-margin-bottom-7' data-qa='offender/activity/{{ group.date | longDate | slug }}'>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2" data-qa='offender/activity/group-title'>
                        {{ 'Today' if group.isToday else group.date | longDate }}
                    </h3>
                    {% for entry in group.entries %}
                        {% set index = index + 1 %}
                        {% set open = index < 4 %}
                        {% switch entry.type %}
                        {% case 'appointment' %}
                            {{ appointmentCard(entry, open, group.date) }}
                        {% case 'communication' %}
                            {{ plainCard(entry, open, group.date, { time: true }) }}
                        {% case 'system' %}
                            {{ systemContact(entry) }}
                        {% default %}
                            {{ plainCard(entry, open, group.date) }}
                        {% endswitch %}
                    {% endfor %}
                </section>
            {% endfor %}

            {% if groups.length === 0 %}
                <p class='govuk-body' data-qa='offender/activity/empty'>
                    {% switch currentFilter %}
                        {% case 'appointments' %}
                            There are no National Standard appointments
                        {% case 'without-an-outcome' %}
                            There are no National Standard appointments needing an outcome
                        {% case 'complied-appointments' %}
                            There are no complied appointments
                        {% case 'acceptable-absence-appointments' %}
                            There have been no acceptable absences
                        {% case 'failed-to-comply-appointments' %}
                            There have been no failures to comply in the last 12 months
                        {% case 'warning-letters' %}
                            There have been no warning letters
                        {% default %}
                            There has been no activity
                    {% endswitch %}
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
