{% extends "partials/layout.njk" %}
{% set pageTitle = appointment.name + ' – ' + displayName %}
{% from 'components/summary-card.njk' import appSummaryCard %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-{{ 2 if appointment.outcome else 6 }}">
                <span class="govuk-caption-xl">
                    {% if appointment.nationalStandard %}
                        National standard appointment
                    {% else %}
                        Appointment
                    {% endif %}
                </span>
                {{ appointment.name }}
            </h1>
        </div>
    </div>

    {% if appointment.outcome %}
        <div class="govuk-!-margin-bottom-6" data-qa='offender/activity/outcome-tag'>
            {{ govukTag({ text: appointment.outcome.tag.name, classes: appointment.outcome.tag.colour | tagClassName }) }}
        </div>
    {% endif %}

    {% call appSummaryCard({ titleText: 'Appointment details', classes: 'app-summary-card--large-title govuk-!-margin-bottom-6', headingLevel: 2 }) -%}
    {{ govukSummaryList({
        attributes: {
            'data-qa': 'offender/activity/appointment'
        },
        rows: [
            {
                key: { text: "Type of appointment" },
                value: { text: appointment.typeName }
            },
            {
                key: { text: "Location" },
                value: { text: appointment.location }
            } if appointment.location,
            {
                key: { text: "Date" },
                value: { text: appointment.start | shortDate }
            },
            {
                key: { text: "Time" },
                value: { text: appointment.start | timeRange(appointment.end) }
            },
            {
                key: { html: 'RAR' | abbr + ' activity' },
                value: { text: appointment.rarActivity.name or 'Yes' }
            } if appointment.rarActivity,
            {
                key: { text: "Appointment notes" },
                value: { html: (appointment.notes | safeNotes) if appointment.notes else 'No notes' },
                actions: { items: [{ href: appointment.links.updateOutcome, html: "Change<span class=\"govuk-visually-hidden\"> appointment notes</span>" }] }
            } if not appointment.outcome,
            {
                key: { text: "Sensitive" },
                value: { text: appointment.sensitive | yesNo }
            } if not appointment.outcome
        ]
    }) }}
    {%- endcall %}

    {% if appointment.outcome %}
        {% call appSummaryCard({ titleText: 'Outcome details', classes: 'app-summary-card--large-title govuk-!-margin-bottom-6', headingLevel: 2 }) -%}
        {{ govukSummaryList({
            attributes: {
                'data-qa': 'offender/activity/outcome'
            },
            rows: [
                {
                    key: { text: "Complied" },
                    value: { text: appointment.outcome.compliedAndAttendedText },
                    actions: { items: [{ href: appointment.links.updateOutcome, text: "Change" }] }
                },
                {
                    key: { text: "Reason for absence" },
                    value: { text: appointment.outcome.description | replace("Acceptable Absence - ", "") },
                    actions: { items: [{ href: appointment.links.updateOutcome, text: "Change" }] }
                } if appointment.outcome.complied and not appointment.outcome.attended,
                {
                    key: { text: "Enforcement action" },
                    value: { text: appointment.enforcementAction },
                    actions: { items: [{ href: appointment.links.updateEnforcement, text: "Change" }] }
                } if appointment.enforcementAction,
                {
                    key: { text: "Appointment notes" },
                    value: { html: (appointment.notes | safeNotes) if appointment.notes else 'No notes' },
                    actions: { items: [{ href: appointment.links.updateOutcome, text: "Change" }] }
                },
                {
                    key: { text: "Sensitive" },
                    value: { text: appointment.sensitive | yesNo }
                }
            ]
        }) }}
        {%- endcall %}
    {% endif %}
{% endblock %}
