{% extends "partials/layout.njk" %}
{% set pageTitle =  contact.name + ' – ' +  displayName %}

{% block content %}
    <h1 class="govuk-heading-xl">
        {{ contact.name }}
    </h1>

    {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        attributes: {
            'data-qa': 'offender/activity/detail'
        },
        rows: [
            {
                key: { text: "Date" },
                value: { text: contact.start | shortDate }
            },
            {
                key: { text: "Notes" },
                value: { html: (contact.notes or 'No notes') | nl2BrSafe }
            }
        ]
    }) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body-s app-hint-s" data-qa='contact-last-updated'>
                Last updated by {{ contact.lastUpdatedBy }}
                on {{ contact.lastUpdatedDateTime | longDate }}
                at {{ contact.lastUpdatedDateTime | time }}
            </p>
        </div>
    </div>

{% endblock %}
