{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro sessionDetails(appointment, rarDetails, paths) %}
  {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9',
    attributes: {
      'data-qa': 'arrange-appointment/details'
    },
    rows: [
      {
        key: { text: "Type of appointment" },
        value: { text: appointment.typeDescription },
        classes: ["qa-type"],
        actions: {
          items: [
            {
              href: paths.type,
              text: "Change",
              visuallyHiddenText: "type of appointment",
              classes: ["qa-change"]
            }
          ]
        }
      },
      {
        key: { text: "Date" },
        value: { text: appointment.appointmentStart | dateWithDayAndWithoutYear() },
        classes: ["qa-date"],
        actions: {
          items: [
            {
              href: paths.when,
              text: "Change",
              visuallyHiddenText: "date",
              classes: ["qa-change"]
            }
          ]
        }
      },
      {
        key: { text: "Time" },
        value: { text: (appointment.appointmentStart | time()) + ' to ' + (appointment.appointmentEnd | time()) },
        classes: ["qa-time"],
        actions: {
          items: [
            {
              href: paths.when,
              text: "Change",
              visuallyHiddenText: "date",
              classes: ["qa-change"]
            }
          ]
        }
      },
      {
        key: { text: "RAR activity" },
        value: { text: rarDetails.category if rarDetails and rarDetails.category else 'No' }
      },
      {
        key: { text: "RAR activity subcategory" },
        value: { text: rarDetails.subCategory }
      } if rarDetails and rarDetails.subCategory,
      {
        key: { text: "Appointment notes" },
        value: { text: appointment.notes or 'None' }
      },
      {
        key: { text: "Sensitive" },
        value: { text: appointment.sensitive | yesNo },
        classes: ["qa-sensitive"],
        actions: {
          items: [
            {
              href: paths.sensitive,
              text: "Change",
              visuallyHiddenText: "sensitive",
              classes: ["qa-change"]
            }
          ]
        }
      }
    ]
  })
  }}
{% endmacro %}
