{% extends "pages/wizard-form.njk" %}
{% set title = 'Check your answers and record the outcome' %}
{% set buttonText = 'Confirm outcome' %}

{% block form %}
{% set complianceText %}
  {%- if outcome.compliance === 'compliance-acceptable' -%}
    Yes
  {%- elif outcome.compliance === 'failed-to-comply' -%}
    No
  {%- elif outcome.compliance === 'failed-to-attend' and outcome.acceptableAbsence === true -%}
    Acceptable absence
  {%- elif outcome.compliance === 'failed-to-attend' and outcome.acceptableAbsence === false -%}
    Unacceptable absence
  {%- endif -%}
{% endset %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>
{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: { text: "Appointment" },
      classes: ["qa-appointment"],
      value: { html: outcome.appointment.name + '<br />' + outcome.appointment.start | longDate + ' from ' + outcome.appointment.start | timeRange(outcome.appointment.end) }
    },
    {
      key: { text: "Complied" },
      classes: ["qa-compliance"],
      value: { text: complianceText },
      actions: {
        items: [
          {
            href: paths.compliance,
            text: "Change",
            visuallyHiddenText: "complied",
            classes: ["qa-change"]
          }
        ]
      }
    },
    {
      key: { text: "RAR activity" },
      classes: ["qa-rar-activity"],
      value: { text: outcome.isRar | yesNo },
      actions: {
      items: [
        {
          href: paths.rar,
          text: "Change",
          visuallyHiddenText: "rar-activity",
          classes: ["qa-change"]
        }
      ]
    }
    } if not outcome.selectedOutcome,
    {
      key: { text: "Reason for absence" if outcome.compliance === 'failed-to-attend' else ("Reason for not complying" if outcome.compliance === 'failed-to-comply' else "Outcome") },
      classes: ["qa-outcome"],
      value: { text: outcome.selectedOutcome.description },
      actions: {
        items: [
          {
            href: paths.outcome,
            text: "Change",
            visuallyHiddenText: "outcome",
            classes: ["qa-change"]
          }
        ]
      }
    } if outcome.selectedOutcome,
    {
      key: { text: "Enforcement action" },
      classes: ["qa-enforcement"],
      value: { text: outcome.selectedEnforcement.description },
      actions: {
        items: [
          {
            href: paths.enforcement,
            text: "Change",
            visuallyHiddenText: "enforcement action",
            classes: ["qa-change"]
          }
        ]
      }
    } if outcome.selectedEnforcement,
    {
      key: { text: "Sensitive" },
      classes: ["qa-sensitive"],
      value: { text: outcome.sensitive | yesNo },
      actions: {
        items: [
          {
            href: paths.sensitive,
            text: "Change",
            visuallyHiddenText: "if this was sensitive",
            classes: ["qa-change"]
          }
        ]
      }
    },
    {
      key: { text: "Your notes" },
      classes: ["qa-notes"],
      value: {
        html: (outcome.notes | urlize | safe) if outcome.addNotes else 'None'
      },
      actions: {
        items: [
          {
            href: paths.notes,
            text: "Change",
            visuallyHiddenText: "appointment notes",
            classes: ["qa-change"]
          } if outcome.addNotes else {
            href: paths.addNotes,
            text: "Add notes",
            classes: ["qa-change"]
          }
        ]
      }
    }
  ]
  }) }}

{% endblock %}
