{% extends "pages/wizard-form.njk" %}
{% set title = 'Check your answers and record the outcome' %}
{% set buttonText = 'Confirm outcome' %}

{% block form %}
{% set complianceText %}
  {%- if outcome.compliance === 'compliance-acceptable' -%}
    Yes
  {%- elif outcome.compliance === 'failed-to-comply' -%}
    No
  {%- elif outcome.compliance === 'failed-to-attend' and outcome.acceptableAbsence === true -%}
    Acceptable absence
  {%- elif outcome.compliance === 'failed-to-attend' and outcome.acceptableAbsence === false -%}
    Unacceptable absence
  {%- endif -%}
{% endset %}

{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: { text: "Appointment" },
      value: { html: outcome.appointment.name + '<br />' + outcome.appointment.start | longDate + ' from ' + outcome.appointment.start | timeRange(outcome.appointment.end) }
    },
    {
      key: { text: "Complied" },
      value: { text: complianceText },
      actions: {
        items: [
          {
            href: paths.compliance,
            text: "Change",
            visuallyHiddenText: "complied"
          }
        ]
      }
    },
    {
      key: { text: "Reason for absence" if outcome.compliance === 'failed-to-attend' else ("Reason for not complying" if outcome.compliance === 'failed-to-comply' else "Outcome") },
      value: { text: outcome.selectedOutcome.description },
      actions: {
        items: [
          {
            href: paths.outcome,
            text: "Change",
            visuallyHiddenText: "outcome"
          }
        ]
      }
    } ,
    {
      key: { text: "Enforcement action" },
      value: { text: outcome.selectedEnforcement.description },
      actions: {
        items: [
          {
            href: paths.enforcement,
            text: "Change",
            visuallyHiddenText: "enforcement action"
          }
        ]
      }
    } if outcome.selectedEnforcement,
    {
      key: { text: "Sensitive" },
      value: { text: 'Yes' if outcome.sensitive else 'No' },
      actions: {
        items: [
          {
            href: paths.sensitive,
            text: "Change",
            visuallyHiddenText: "if this was sensitive"
          }
        ]
      }
    },
    {
      key: { text: "Your notes" },
      value: {
        html: (outcome.notes | urlize | safe) if outcome.addNotes else 'None'
      },
      actions: {
        items: [
          {
            href: paths.notes,
            text: "Change",
            visuallyHiddenText: "appointment notes"
          } if outcome.addNotes else {
            href: paths.addNotes,
            text: "Add notes"
          }
        ]
      }
    }
  ]
  }) }}

{% endblock %}
