{% extends "pages/wizard-form.njk" %}
{% set title %}
  {% if acceptableAbsence %}
    Why was {{offenderFirstName}} absent?
  {% else %}
    How did {{offenderFirstName}} not comply?
  {% endif %}
{% endset %}

{% block form %}
  {{ govukRadios({
      id: "record-outcome-outcome-radios",
      name: "outcome",
      attributes: {
          "data-qa": "record-outcome/outcome"
      },
      fieldset: {
        legend: {
          text: title,
          classes: "govuk-label--xl",
          isPageHeading: true
        }
      },
      items: outcomes | translateOutcomes(offenderFirstName) | sortBy('description') | toRadioList(outcome, "code", "description") | separateOr('value', 'AAAA'),
      errorMessage: errors | findErrorMessages("outcome")
  }) }}
{% endblock %}
