{% extends "partials/layout.njk" %}
{% set pageTitle = 'Use National Delius to make these changes' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{pageTitle}}</h1>
  </div>
</div>

<p>You must change the contact details of a service user using National Delius.</p>

{{ govukButton({
  text: 'Go to National Delius',
  classes: 'govuk-!-margin-top-6',
  isStartButton: true,
  href: exitLink
}) }}

{% endblock %}
