{% extends "partials/layout.njk" %}
{% set pageTitle = 'Continue on National Delius' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      <p>You’ll need to use National Delius to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>make changes to data</li>
        <li>view certain information, such as previous orders or NSIs</li>
      </ul>

      <h2 class="govuk-heading-m">Go directly to {{ shortName }} on Delius</h2>

      <p>
        <a href="{{ links.deliusContactLog }}" target='_blank' data-qa='offender/delius-exit/contact-log'>
          Open {{ shortName }}’s contact log on Delius
        </a>
        <br>
        <span class="govuk-!-font-size-16">Link opens in a new window</span>
      </p>

      <h2 class="govuk-heading-m">Go to the Delius homepage</h2>

      <p>Or you can use the following information to find {{ shortName }} on Delius:</p>

      {{ govukSummaryList({
        attributes: {
          'data-qa': 'offender/delius-exit/offender-details'
        },
        rows: [
          {
            key: { text: 'Name' },
            value: { text: displayName }
          },
          {
            key: { text: 'Date of birth' },
            value: { text: dateOfBirth | dateFormat('dd/MM/yyyy') }
          } if dateOfBirth,
          {
            key: { text: 'CRN' },
            value: { text: ids.crn }
          },
          {
            key: { text: 'PNC' },
            value: { text: ids.pnc }
          } if ids.pnc
        ]
      }) }}

      <p>
        <a href="{{ links.deliusHomePage }}" target='_blank' data-qa='offender/delius-exit/homepage'>
          Open the Delius homepage
        </a>
        <br>
        <span class="govuk-!-font-size-16">Link opens in a new window</span>
      </p>
    </div>
  </div>
{% endblock %}
