{% extends "pages/wizard-form.njk" %}
{% set buttonText = 'Arrange appointment' %}
{% set title = 'Check your answers' %}
{% from "./partials/session-details.njk" import sessionDetails %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {{ sessionDetails(appointment, rarDetails, paths) }}
{% endblock %}
