{% extends "pages/wizard-form.njk" %}
{% set title = 'What type of appointment are you arranging?' %}

{% block form %}
    {% if types.other.length > 0 %}
        {% set otherHtml %}
            {{ govukSelect({
                id: "arrange-appointment-other-select",
                name: "otherType",
                attributes: {
                    "data-qa": "arrange-appointment/other-type",
                    "data-enhance": "accessible-autocomplete"
                },
                label: {
                    text: "Type of appointment"
                },
                items: types.other | toSelectList(otherType, "contactType", "description"),
                errorMessage: errors | findErrorMessages("otherType")
            }) }}
        {% endset %}
    {% endif %}

    {{ govukRadios({
        id: "arrange-appointment-featured-radios",
        name: "type",
        attributes: {
            "data-qa": "arrange-appointment/featured-type"
        },
        fieldset: {
            legend: {
                text: title,
                isPageHeading: true,
                classes: "govuk-label--xl govuk-!-margin-bottom-6"
            }
        },
        items: types.featured | toRadioList(type, "contactType", "description", { otherHtml: otherHtml }),
        errorMessage: errors | findErrorMessages("type")
    }) }}

{% endblock %}
