{% extends "pages/wizard-form.njk" %}
{% set title = "When will the appointment be?" %}

{% block form %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
    {{ title }}
  </h1>

  {% set circumstancesHTML %}
    <p class="govuk-body">
      <strong>Preferred language</strong><br>
      <span data-qa="arrange-appointment/where/language">{{ offender.personalCircumstances.language  | default('<span class="app-hint-s">Not known</span>', true) | safe}}</span>
    </p>
    <p class="govuk-body">
      <strong>Disabilities</strong><br>
      <span data-qa="arrange-appointment/where/disabilities">{{ offender.personalCircumstances.disabilities | default('<span class="app-hint-s">None known</span>', true) | safe }}</span>
    </p>
    <p class="govuk-body">
      <strong>Employment status</strong><br>
      <span data-qa="arrange-appointment/where/employment">{{ offender.personalCircumstances.employment | default('<span class="app-hint-s">Not known</span>', true) | safe}}</span>
    </p>
  {% endset %}

  {{ govukDetails({
    summaryText: offender.firstName +"’s circumstances",
    html: circumstancesHTML
  }) }}

  {{ govukDateInput({
    id: "session-date",
    fieldset: {
      legend: {
        text: "Date",
        classes: "govuk-label--s"
      }
    },
    items: [
      {
        name: "date[day]",
        value: date.day,
        classes: "govuk-input--width-2",
        label: "Day"
      },
      {
        name: "date[month]",
        value: date.month,
        classes: "govuk-input--width-2",
        label: "Month"
      },
      {
        name: "date[year]",
        value: date.year,
        classes: "govuk-input--width-4",
        label: "Year"
      }
    ],
    hint: {
      text: "For example, 20 5 2021"
    },
    errorMessage: errors | findErrorMessages("date")
  }) }}

  {{ govukInput({
    id: "startTime",
    name: "startTime",
    classes: "govuk-input govuk-input--width-5 time-input",
    label: {
      text: "Start time",
      classes: "govuk-label--s"
    },
    value: startTime,
    errorMessage: errors | findErrorMessages("startTime")
  }) }}
  {{ govukInput({
    id: "endTime",
    name: "endTime",
    classes: "govuk-input govuk-input--width-5 time-input",
    label: {
      text: "End time",
      classes: "govuk-label--s"
    },
    value: endTime,
    errorMessage: errors | findErrorMessages("endTime")
  }) }}
{% endblock %}
