{% extends "partials/layout.njk" %}

{% set pageTitle = applicationName + " - Page not found" %}

{% block content %}

    <h1 class='govuk-heading-xl'>Page not found</h1>

        <p class='govuk-body'>
            If you typed the web address, check it is correct.
        </p>
        <p class='govuk-body'>
            If you pasted the web address, check you copied the entire address.
        </p>
        <p class='govuk-body'>
            If the web address is correct or you selected a link or button and you need to speak to someone about this problem, contact the Manage supervisions support team:
            <a href="mailto:manage-supervisions-support@digital.justice.gov.uk">manage-supervisions-support<wbr>@digital.justice.gov.uk</a>
        </p>

{% endblock %}