{% extends "partials/layout.njk" %}

{% set pageTitle = "You need a Delius account to use this service" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class='govuk-heading-xl'>{{ pageTitle }}</h1>
            <p class='govuk-body'>
                Try signing in with your Delius account if you have one.
            </p>
            <p class='govuk-body'>
                Contact the Manage supervisions support team if you require further assistance: <a
                        href="mailto:manage-supervisions-support@digital.justice.gov.uk">manage-supervisions-support
                    <wbr>
                    @digital.justice.gov.uk</a>.
            </p>
        </div>
    </div>
{% endblock %}