{% extends "../partials/layout.njk" %}
{% block pageTitle %}
  {% if errors.length > 0 %}Error: {% endif %}{{ title }}
{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) if paths.back }}
{% endblock %}

{% block content %}
  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors | errorSummary
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" autocomplete="off" action="{{ action if action else paths.current }}">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {% block form %}{% endblock %}

        {{ govukButton({
          attributes: {
            'data-qa': 'wizard/continue-button'
          },
          html: buttonText if buttonText else 'Continue'
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
