{% extends "../partials/layout.njk" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) if paths.back }}
{% endblock %}

{% block content %}
  {% block banner %}{% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block page %}{% endblock %}

      {% if paths.next %}
        {{ govukButton({
          text: buttonText if buttonText else 'Continue',
          href: paths.next,
          attributes: {
            'data-qa': buttonQa if buttonQa else 'wizard/continue'
          }
        }) }}
      {% endif %}
    </div>
  </div>
{% endblock %}
