{% extends "../wizard-form.njk" %}
{% set title = "When will the appointment be?" %}

{% block form %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
    {{ title }}
  </h1>

  {{ govukDateInput({
    id: "session-date",
    fieldset: {
      legend: {
        text: "Date",
        classes: "govuk-label--s"
      }
    },
    items: [
      {
        name: "startDate[day]",
        value: form.startDate.day,
        classes: "govuk-input--width-2",
        label: "Day"
      },
      {
        name: "startDate[month]",
        value: form.startDate.month,
        classes: "govuk-input--width-2",
        label: "Month"
      },
      {
        name: "startDate[year]",
        value: form.startDate.year,
        classes: "govuk-input--width-4",
        label: "Year"
      }
    ],
    hint: {
      text: "For example, 20 5 2021"
    },
    errorMessage: errors | findErrorMessages("startDate")
  }) }}

  {{ govukInput({
    id: "startTime",
    name: "startTime",
    classes: "govuk-input govuk-input--width-5 time-input",
    label: {
      text: "Start time",
      classes: "govuk-label--s"
    },
    value: form.startTime,
    errorMessage: errors | findErrorMessages("startTime")
  }) }}
  {{ govukInput({
    id: "endTime",
    name: "endTime",
    classes: "govuk-input govuk-input--width-5 time-input",
    label: {
      text: "End time",
      classes: "govuk-label--s"
    },
    value: form.endTime,
    errorMessage: errors | findErrorMessages("endTime")
  }) }}
{% endblock %}
