{% from 'govuk/components/summary-list/macro.njk' import govukSummaryList %}
{% from './_join.njk' import join %}

{% macro contactDetailsSummary(params) %}
    <h2 class="govuk-heading-m">
        Contact details
    </h2>

    {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border govuk-!-margin-bottom-6',
        attributes: params.attributes,
        rows: [
            {
                key: { text: "Address" },
                value: { html: join(params.model.address) },
                classes: 'qa-address'
            } if params.model.address,
            {
                key: { text: "Phone number" },
                value: { html: join(params.model.phoneNumbers) },
                classes: 'qa-phone-number'
            } if params.model.phoneNumbers.length > 0,
            {
                key: { text: "Email" },
                value: { html: join(params.model.emailAddresses) },
                classes: 'qa-email'
            } if params.model.emailAddresses.length > 0
        ]
    }) }}
{% endmacro %}

{% macro personalDetailsSummary(params) %}
    <h2 class="govuk-heading-m">
        Personal details
    </h2>

    {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border govuk-!-margin-bottom-6',
        attributes: params.attributes,
        rows: [
            {
                key: { text: "Name" },
                value: { text: params.model.name },
                classes: 'qa-name'
            },
            {
                key: { text: "Aliases" },
                value: { html: join(params.model.aliases) },
                classes: 'qa-aliases'
            } if params.model.aliases.length > 0,
            {
                key: { text: "Date of birth" },
                value: { text: params.model.dateOfBirth | dob },
                classes: 'qa-dob'
            } if params.model.dateOfBirth,
            {
                key: { text: "Preferred language" },
                value: { text: params.model.preferredLanguage },
                classes: 'qa-language'
            } if params.model.preferredLanguage,
            {
                key: { text: "Disabilities and adjustments" },
                value: { html: join(params.model.disabilities) },
                classes: 'qa-disabilities'
            } if params.model.disabilities.length > 0
        ]
    }) }}
{% endmacro %}