{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro probationHistorySummary(params) %}
    {% if params.model.previousConvictions %}
        <div{% for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
            <h2 class="govuk-heading-m">
                Probation history
            </h2>
            <p class="govuk-body" data-qa='previous-orders'>
                <a class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1" href="{{ params.model.previousConvictions.link }}">
                    Previous orders ({{ params.model.previousConvictions.count }})
                </a>
                Last ended on {{ params.model.previousConvictions.lastEnded | shortDate }}
            </p>
        </div>
    {% endif %}
{% endmacro %}

{% macro requirementSummary(requirement) %}
    {{ govukSummaryList({
        rows: [
            {
                key: { text: "Length" },
                value: { text: requirement.length }
            },
            {
                key: { text: "Progress" },
                value: { text: requirement.progress }
            } if requirement.progress,
            {
                key: { text: "Start date" },
                value: { text: requirement.startDate | expectedDate }
            } if requirement.startDate,
            {
                key: { text: "Termination date" },
                value: { text: requirement.endDate | expectedDate }
            } if requirement.endDate,
            {
                key: { text: "Termination reason" },
                value: { text: requirement.terminationReason }
            } if requirement.terminationReason,
            {
                key: { text: "Notes" },
                value: { text: requirement.notes | nl2br if requirement.notes else 'No notes' }
            }
        ]
    }) }}
{% endmacro %}