{% extends "./_layout.njk" %}
{% set pageName = 'Activity log' %}

{% block page %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <div class="app-card">
                {{ govukButton({
                    text: 'Add to log',
                    href: links.addActivity,
                    attributes: {
                        'data-qa': 'offender/add-activity-button'
                    }
                }) }}

                <h3 class="govuk-heading-m">Filter activity log</h3>

                <ul class="govuk-list govuk-!-margin-bottom-0">
                <li><a {% if not currentFilter %}class="govuk-!-font-weight-bold" aria-current="page"{% endif %} href="{{links.activity}}">All activity</a></li>

                {% for key, value in filters %}
                    <li><a {% if currentFilter == key %}class="govuk-!-font-weight-bold" aria-current="page"{% endif %} data-qa="offender/activity-filter-{{ key }}" href="{{links.activity}}/{{ key }}">{{ value.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <div class='govuk-grid-column-two-thirds'>
            {% if title %}
            <h2 class="govuk-heading-m">
                {{ title }}
            </h2>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            {% endif %}

            {% set hr = joiner('<hr class="govuk-section-break govuk-section-break--m">') %}

            {% for contact in contacts %}
                {{ hr() | safe }}

                <div data-qa='offender/activity/{{ contact.id }}'>
                    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
                        {{ contact.start | longDate }}
                        <span class="govuk-!-margin-left-1 govuk-!-font-size-19 govuk-!-font-weight-regular">
                        {{ contact.start | time }}
                            {% if contact.end %}
                                to {{ contact.end | time }}
                            {% endif %}
                    </span>
                        <br>
                        <a href="{{ contact.links.view }}">
                            {% if contact.type == 'communication' %} {{ contact.name }} {% else %} {{ contact.type | capitalize + ' – ' + contact.name }} {% endif %}
                        </a>
                    </h3>

                    <div class="govuk-!-margin-bottom-3">
                        {% for tag in contact.tags %}
                            {{ govukTag({
                                text: tag.name,
                                classes: tag.colour | tagClassName,
                                attributes: { 'data-qa': 'tag' }
                            }) }}
                        {% endfor %}
                    </div>

                    <div class="note-panel">
                        {% if contact.links.recordMissingAttendance %}
                            {% set attendanceWarningHtml %}
                                Attendance not recorded
                                <br>
                                <a href="{{ contact.links.recordMissingAttendance }}">
                                    Record attendance
                                </a>
                            {% endset %}
                            {{ govukWarningText({
                                html: attendanceWarningHtml,
                                iconFallbackText: "Warning",
                                classes: 'govuk-!-margin-bottom-0',
                                attributes: {
                                    'data-qa': 'attendance-missing'
                                }
                            }) }}
                        {% endif %}

                        {% if contact.notes %}
                            {% if contact.notes.length > 300 %}
                                <p class="govuk-body" data-qa='notes'>
                                    {{ contact.notes | truncate(250) | nl2br | safe }}
                                </p>
                                <p class="govuk-body govuk-!-margin-bottom-0" data-qa='view-link'>
                                    <a href="{{ contact.links.view }}">View full details</a>
                                </p>
                            {% else %}
                                <p class="govuk-body govuk-!-margin-bottom-0" data-qa='notes'>
                                    {{ contact.notes | nl2br | safe }}
                                </p>
                            {% endif %}
                        {% elif not contact.links.recordMissingAttendance %}
                            <p class="govuk-body govuk-!-margin-bottom-0" data-qa='add-notes'>
                                <a href="{{ contact.links.addNotes }}">Add notes</a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <p class='govuk-body' data-qa='offender/activity/empty'>
                    There are no entries in the activity log.
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
