{% extends "./_layout.njk" %}
{% set pageName = 'Overview' %}

{% block page %}
    <a href="{{ links.arrangeAppointment }}" class="govuk-button govuk-!-margin-bottom-0">
        Arrange an appointment
    </a>
{% endblock %}