{% extends "./_layout.njk" %}
{% set pageName = 'Personal details' %}
{% from './_join.njk' import join %}
{% from './_personal.njk' import contactDetailsSummary, personalDetailsSummary %}

{% block page %}
    <div class="govuk-grid-row">
        <div class='govuk-grid-column-two-thirds'>
            {{ contactDetailsSummary({
                model: contactDetails,
                attributes: {
                    'data-qa': 'offender/personal-details/contact'
                }
            }) }}

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            {{ personalDetailsSummary({
                model: personalDetails,
                attributes: {
                    'data-qa': 'offender/personal-details/personal'
                }
            }) }}
        </div>
    </div>
{% endblock %}