{% extends "./_layout.njk" %}
{% set pageName = 'Risk' %}
{% from 'components/summary-card.njk' import appSummaryCard %}
{% from '_join.njk' import joinList %}

{% macro roshDetail(risk) %}
    {% if not risk.value %}
        No concerns
    {% elseif risk.notes.current or risk.notes.previous %}
        {% set detailsHtml %}
            <h3 class="govuk-heading-s">Current circumstances, issues and needs</h3>
            <p class='govuk-body' data-qa='offender/risk/current-notes'>
                {{ (risk.notes.current or 'No detail given') | nl2br | safe }}
            </p>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <h3 class="govuk-heading-s">Previous circumstances, issues and needs</h3>
            <p class='govuk-body' data-qa='offender/risk/previous-notes'>
                {{ (risk.notes.previous or 'No detail given') | nl2br | safe }}
            </p>
        {% endset %}
        {{ govukDetails({ summaryText: risk.value, html: detailsHtml }) }}
    {% else %}
        {{ risk.value }}
    {% endif %}
{% endmacro %}

{% block page %}
    {% if risks %}
        {% call appSummaryCard({
            titleText: 'Risk of serious harm (ROSH) in the community',
            classes: 'app-summary-card--large-title govuk-!-margin-bottom-6',
            actions: { items: [{ href: "#TODO", text: "View OASys" }] }
        }) -%}
            {{ govukSummaryList({
                rows: [
                    {
                        key: { text: "Overall" },
                        value: { html: govukTag({
                            text: risks.community.level.text + ' risk of serious harm',
                            classes: risks.community.level.class
                        }) if risks.community.level else 'No overall risk' }
                    },
                    {
                        key: { text: "Very high risk" },
                        value: { html: joinList(risks.community.riskLevels.VERY_HIGH) }
                    } if risks.community.riskLevels.VERY_HIGH.length > 0,
                    {
                        key: { text: "High risk" },
                        value: { html: joinList(risks.community.riskLevels.HIGH) }
                    } if risks.community.riskLevels.HIGH.length > 0,
                    {
                        key: { text: "Medium risk" },
                        value: { html: joinList(risks.community.riskLevels.MEDIUM) }
                    } if risks.community.riskLevels.MEDIUM.length > 0,
                    {
                        key: { text: "Low risk" },
                        value: { html: joinList(risks.community.riskLevels.LOW) }
                    } if risks.community.riskLevels.LOW.length > 0,
                    {
                        key: { text: "Who is at risk" },
                        value: { html: (risks.community.whoIsAtRisk or 'No detail given') | nl2br }
                    },
                    {
                        key: { text: "Nature of risk" },
                        value: { html: (risks.community.natureOfRisk or 'No detail given') | nl2br }
                    },
                    {
                        key: { text: "When is risk greatest" },
                        value: { html: (risks.community.riskImminence or 'No detail given') | nl2br }
                    }
                ]
            }) }}
        {%- endcall %}

        {% call appSummaryCard({
            titleText: 'Risk of serious harm to themselves',
            classes: 'app-summary-card--large-title govuk-!-margin-bottom-6',
            actions: { items: [{ href: "#TODO", text: "View OASys" }] }
        }) -%}
            {{ govukSummaryList({
                rows: [
                    {
                        key: { text: "Risk of suicide or self harm" },
                        value: { html: roshDetail(risks.self.harm) }
                    },
                    {
                        key: { text: "Coping in custody or a hostel" },
                        value: { html: roshDetail(risks.self.custody) }
                    },
                    {
                        key: { text: "Vulnerability (eg victimisation, being bullied or exploited)" },
                        value: { html: roshDetail(risks.self.vulnerability) }
                    }
                ]
            }) }}
        {%- endcall %}
    {% else %}
        {% set noRisksWarning %}
            No risk assessment<br>
            <a href='#TODO'>Create a risk assessment in OASys</a>
        {% endset %}
        {{ govukWarningText({
            html: noRisksWarning,
            iconFallbackText: "Warning",
            attributes: { 'data-qa': 'offenders/risk/no-risk-assessment' }
        }) }}
    {% endif %}

{% endblock %}