{% extends "./_layout.njk" %}
{% set pageName = 'Sentence' %}
{% from './_sentence.njk' import probationHistorySummary %}

{% block page %}
    <div class="govuk-grid-row">
        <div class='govuk-grid-column-two-thirds'>
            <h2 class="govuk-heading-m">
                Offences
            </h2>

            {% if conviction and conviction.mainOffence %}
                {{ govukSummaryList({
                    classes: 'govuk-summary-list--no-border',
                    attributes: {
                        'data-qa': 'offender/sentence/main-offence'
                    },
                    rows: [
                        {
                            key: { text: "Main offence" },
                            value: { text: conviction.mainOffence.description },
                            classes: 'qa-description'
                        },
                        {
                            key: { text: "Offence date" },
                            value: { text: conviction.mainOffence.date | shortDate },
                            classes: 'qa-date'
                        }
                    ]
                }) }}

                {% for offence in conviction.additionalOffences %}
                    {{ govukSummaryList({
                        classes: 'govuk-summary-list--no-border',
                        attributes: {
                            'data-qa': 'offender/sentence/additional-offence/' + offence.id
                        },
                        rows: [
                            {
                                key: { text: "Additional offence" },
                                value: { text: offence.description },
                                classes: 'qa-description'
                            },
                            {
                                key: { text: "Offence date" },
                                value: { text: offence.date | shortDate },
                                classes: 'qa-date'
                            }
                        ]
                    }) }}
                {% endfor %}
            {% else %}
                <p class='govuk-body' data-qa='offender/sentence/no-offences'>
                    Offence details are unavailable.
                </p>
            {% endif %}

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h2 class="govuk-heading-m">
                Sentence details
            </h2>

            {% if conviction and conviction.sentence %}
                {{ govukSummaryList({
                    classes: 'govuk-summary-list--no-border govuk-!-margin-bottom-6',
                    attributes: {
                        'data-qa': 'offender/sentence/details'
                    },
                    rows: [
                        {
                            key: { text: "Sentence" },
                            value: { text: conviction.sentence.description },
                            classes: 'qa-description'
                        },
                        {
                            key: { text: "Length" },
                            value: { text: conviction.sentence.length },
                            classes: 'qa-length'
                        },
                        {
                            key: { text: "Start date" },
                            value: { text: conviction.sentence.startDate | shortDate },
                            classes: 'qa-start-date'
                        },
                        {
                            key: { text: "End date" },
                            value: { text: conviction.sentence.endDate | shortDate },
                            classes: 'qa-end-date'
                        },
                        {
                            key: { text: "Time elapsed" },
                            value: { text: conviction.sentence.elapsed },
                            classes: 'qa-elapsed'
                        },
                        {
                            key: { text: "Conviction date" },
                            value: { text: conviction.sentence.convictionDate | shortDate },
                            classes: 'qa-conviction-date'
                        },
                        {
                            key: { text: "Court" },
                            value: { text: conviction.sentence.courtAppearance },
                            classes: 'qa-court'
                        } if conviction.sentence.courtAppearance,
                        {
                            key: { text: "Responsible court" },
                            value: { text: conviction.sentence.responsibleCourt },
                            classes: 'qa-responsible-court'
                        } if conviction.sentence.responsibleCourt
                    ]
                }) }}
            {% else %}
                <p class='govuk-body' data-qa='offender/sentence/no-details'>
                    Sentence details are unavailable.
                </p>
            {% endif %}

            {% if conviction and conviction.requirement %}
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h2 class="govuk-heading-m">
                    Requirements
                </h2>

                {{ govukSummaryList({
                    classes: 'govuk-summary-list--no-border govuk-!-margin-bottom-6',
                    attributes: {
                        'data-qa': 'offender/sentence/requirements'
                    },
                    rows: [
                        {
                            key: { text: "RAR" },
                            value: { text: conviction.requirement.length },
                            classes: 'qa-length'
                        }
                    ]
                }) }}
            {% endif %}
        </div>
        <div class='govuk-grid-column-one-third'>
            {% if conviction and conviction.previousConvictions %}
                {{ probationHistorySummary({
                    model: conviction,
                    attributes: {
                        'data-qa': 'offender/sentence/probation-history'
                    }
                }) }}
            {% endif %}
        </div>
    </div>
{% endblock %}