abbr {
  text-decoration: none;
}

.app-tag--dark-red {
  background: govuk-colour("red");
}

$widths: ("15pc": 15%, "20pc": 20%, "30pc": 30%, "50pc": 50%, "55pc": 55%);
@each $name, $width in $widths {
  .app-width-#{$name} {
    width: $width !important;
  }
}

table.app-table--cell-vertical-align-bottom {
  td {
    vertical-align: bottom;
  }
}
.app-\!-inherit-colour {
  color: inherit !important;
}

.app-organisation-nav-title {
  float: right;
  padding-top: 19px;
}

.app-header-phase-tag {
  position: relative;
  top: 3px;
}

.app-hint-s {
  color: govuk-colour("dark-grey");
}

.app-\!-word-break-all {
  word-break: break-all;
}

.app-\!-font-family-tabular {
  @include govuk-font($size: false, $tabular: true);
}
