{% macro join(items, options) %}
    {% for item in items %}
        <p class="govuk-body govuk-!-margin-bottom-0">
            {{ item }}
        </p>
    {% endfor %}
    {% if options.link and options.linkText %}
        <p class='govuk-!-margin-top-4'>
            <a href='{{ options.link }}'>{{ options.linkText }}</a>
        </p>
    {% endif %}
{% endmacro %}

{% macro joinList(items, options) %}
    {% if options.ordered %}
        <ol class='govuk-list govuk-list--number'>
            {% for item in items %}
                <li>{{ item }}</li>
            {% endfor %}
        </ol>
    {% else %}
        <ul class='govuk-list'>
            {% for item in items %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if options.link and options.linkText %}
        <p class='govuk-!-margin-top-4'>
            <a href='{{ options.link }}'>{{ options.linkText }}</a>
        </p>
    {% endif %}
{% endmacro %}
