{% extends "partials/layout.njk" %}
{% from 'components/summary-card.njk' import appSummaryCard %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}
<h1 class="govuk-heading-xl"><span class="govuk-caption-xl">{{ 'Removed risk flag' if removed else 'Risk flag' }}</span> {{ riskDescription }}</h1>

{% if removed %}
{% call appSummaryCard({
    titleText: "Flag removed",
    classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title'
}) -%}
  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Date removed"
        },
        value: {
          text: removed | shortDate + " by " + removedBy
        }
      } if removed,
      {
        key: {
          text: "Why it was removed"
        },
        value: {
          text: removedNotes if removedNotes else 'No notes given'
        }
      } if removed
    ]
  }) }}
{%- endcall %}
{% endif %}

{% call appSummaryCard({
  titleText: "Before it was removed" if removed else "About this flag",
  classes: 'govuk-!-margin-bottom-8 app-summary-card--large-title'
}) -%}
{{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Notes"
        },
        value: {
          text: notes if notes else 'No notes'
        }
      },
      {
        key: {
          text: "Next review"
        },
        value: {
          text: reviewDue | shortDate if reviewDue else 'No review due'
        }
      },
      {
        key: {
          text: "Most recent review"
        },
        value: {
          text: reviewed | shortDate + " by " + reviewedBy if reviewed else 'Not reviewed yet'
        }
      },
      {
        key: {
          text: "Date added"
        },
        value: {
          text: added | shortDate + " by " + addedBy
        }
      }
    ]
  }) }}
{%- endcall %}

{% if typeInfo %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Guidance using this risk flag</h2>
    <h3 class="govuk-heading-m">Purpose of use</h3>

    <p>{{typeInfo.purpose|safe}}</p>

    <h3 class="govuk-heading-m">Suggested review frequency</h3>

    {% if typeInfo.suggestedReviewFrequency %}
    <p>Every {{typeInfo.suggestedReviewFrequency}} months</p>
    {% endif %}

    <h3 class="govuk-heading-m">Termination</h3>

    <p>{{typeInfo.termination|safe}}</p>

    <h3 class="govuk-heading-m">Further information</h3>

    <p>{{typeInfo.furtherInformation|safe}}</p>
  </div>
</div>
{% endif %}
{% endblock %}
