{% extends "partials/layout.njk" %}

{% block content %}
<h1 class="govuk-heading-xl">Removed risk flags</h1>
{% if removedRisks.length > 0 %}
  <table class="govuk-table" data-qa="offender-risk/removed-registrations">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" style="width: 30%">Flag</th>
        <th class="govuk-table__header" style="width: 55%">Why flag was removed</th>
        <th class="govuk-table__header" style="width: 20%">Date removed</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for risk in removedRisks %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="{{risk.link}}">{{ risk.text }}</a></td>
        <td class="govuk-table__cell">{{ risk.notes or 'No notes given' }}</td>
        <td class="govuk-table__cell">{{ risk.removed | shortDate }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No risk flags have been removed.</p>
{% endif %}

{% endblock %}
