{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{% extends "partials/layout.njk" %}
{% set pageTitle = pageTitle | default(pageName + ' - ' + displayName) %}

{% block beforeContent %}
    {{ super() }}

    <section class="govuk-!-padding-top-7">
        {% if caseEligibility === false %}
            {% set caseEligibilityWarning %}
                <p class="govuk-notification-banner__heading">
                    We’re not ready to handle this case
                </p>

                <p>You may find that:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>not all information is shown</li>
                    <li>some information shows incorrectly</li>
                </ul>
            {% endset %}
            {{ govukNotificationBanner({
                attributes: { 'data-qa': 'offender/ineligible-case-warning' },
                html: caseEligibilityWarning
            }) }}
        {% endif %}

        {% if assessRisksAndNeedsApiStatus === 'unavailable' %}
            {{ govukErrorSummary({
                titleText: "OASys data is currently unavailable",
                attributes: { 'data-qa': 'offender/oasys-data-unavailable-warning' },
                errorList: [
                    {
                        text: "Some of the data on this page is incomplete as we cannot currently retrieve risk assessments from OASys."
                    }
                ]
            }) }}
        {% endif %}

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
            <span class="govuk-caption-l"><abbr title="Case reference number">CRN</abbr>: {{ ids.crn }}</span>
            {{ displayName }}
            <span class="govuk-visually-hidden"> - {{ pageName }}</span>
        </h1>

        {{ mojSubNavigation({
            attributes: { 'data-qa': 'offender/sub-nav' },
            classes: 'govuk-!-margin-bottom-0',
            items: [
                {
                    text: 'Overview',
                    href: links.overview,
                    active: page == 'overview',
                    attributes: { 'data-qa': 'overview' }
                },
                {
                    text: 'Schedule',
                    href: links.schedule,
                    active: page == 'schedule',
                    attributes: { 'data-qa': 'schedule' }
                },
                {
                    text: 'Personal details',
                    href: links.personal,
                    active: page == 'personal',
                    attributes: { 'data-qa': 'personal' }
                },
                {
                    text: 'Risk',
                    href: links.risk,
                    active: page == 'risk',
                    attributes: { 'data-qa': 'risk' }
                },
                {
                    text: 'Sentence',
                    href: links.sentence,
                    active: page == 'sentence',
                    attributes: { 'data-qa': 'sentence' }
                },
                {
                    text: 'Activity log',
                    href: links.activity,
                    active: page == 'activity',
                    attributes: { 'data-qa': 'activity' }
                },
                {
                    text: 'Compliance',
                    href: links.compliance,
                    active: page == 'compliance',
                    attributes: { 'data-qa': 'compliance' }
                }
            ]
        }) }}
    </section>
{% endblock %}

{% block content %}
    {% block pageHeader %}{% endblock %}

    <h2 class='govuk-heading-l govuk-!-margin-bottom-4'>{{ pageName }}</h2>

    {% block page %}{% endblock %}
{% endblock %}
