{% extends "../_layout.njk" %}
{% set pageName = 'Risk' %}
{% from 'components/summary-card.njk' import appSummaryCard %}
{% from '_join.njk' import joinList %}

{% macro roshDetail(risk) %}
    {% if not risk.value %}
        No concerns
    {% else %}
        {% set detailsHtml %}
            <h3 class="govuk-heading-s">Current circumstances, issues and needs</h3>
            <p class='govuk-body' data-qa='offender/risk/current-notes'>
                {{ (risk.notes.current | nl2BrSafe | urlize | safe) if risk.notes.current else 'No detail given' }}
            </p>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <h3 class="govuk-heading-s">Previous circumstances, issues and needs</h3>
            <p class='govuk-body' data-qa='offender/risk/previous-notes'>
                {{ (risk.notes.previous| nl2BrSafe | urlize | safe) if risk.notes.previous else 'No detail given' }}
            </p>
        {% endset %}
        {{ govukDetails({ summaryText: risk.value, html: detailsHtml }) }}
    {% endif %}
{% endmacro %}

{% block page %}
    {% if risks.status === 'available' %}
        {% call appSummaryCard({
            titleText: 'Risk of serious harm (ROSH) in the community',
            classes: 'app-summary-card--large-title govuk-!-margin-bottom-6',
            actions: { items: [{ href: links.roshCommunity, text: "View OASys" }] }
        }) -%}
            {{ govukSummaryList({
                rows: [
                    {
                     key: { text: "OASys assessment date" },
                     value: { text: risks.assessedOn | shortDate if risks.assessedOn else 'Unknown' }
                    },
                    {
                        key: { text: "Overall" },
                        value: { html: govukTag({
                            text: risks.community.level.text + ' risk of serious harm',
                            classes: risks.community.level.colour | tagClassName
                        }) if risks.community.level else 'No concerns' }
                    },
                    {
                        key: { text: "Very high risk" },
                        value: { html: joinList(risks.community.riskLevels.VERY_HIGH) }
                    } if risks.community.riskLevels.VERY_HIGH.length > 0,
                    {
                        key: { text: "High risk" },
                        value: { html: joinList(risks.community.riskLevels.HIGH) }
                    } if risks.community.riskLevels.HIGH.length > 0,
                    {
                        key: { text: "Medium risk" },
                        value: { html: joinList(risks.community.riskLevels.MEDIUM) }
                    } if risks.community.riskLevels.MEDIUM.length > 0,
                    {
                        key: { text: "Low risk" },
                        value: { html: joinList(risks.community.riskLevels.LOW) }
                    } if risks.community.riskLevels.LOW.length > 0,
                    {
                        key: { text: "Who is at risk" },
                        value: { html: (risks.community.whoIsAtRisk or 'No detail given') | nl2br }
                    },
                    {
                        key: { text: "Nature of risk" },
                        value: { html: (risks.community.natureOfRisk or 'No detail given') | nl2br }
                    },
                    {
                        key: { text: "When is risk greatest" },
                        value: { html: (risks.community.riskImminence or 'No detail given') | nl2br }
                    }
                ]
            }) }}

            {% if risks.assessedOn %}
                <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-body-s app-hint-s">
                    OASys assessment completed on {{ risks.assessedOn | shortDate }}
                </p>
            {% endif %}
        {%- endcall %}

        {% call appSummaryCard({
            titleText: 'Risk of serious harm to themselves',
            classes: 'app-summary-card--large-title govuk-!-margin-bottom-6',
            actions: { items: [{ href: links.roshSelf, text: "View OASys" }] }
        }) -%}
            {{ govukSummaryList({
                rows: [
                    {
                        key: { text: "Risk of suicide or self-harm" },
                        value: { html: roshDetail(risks.self.harm) }
                    },
                    {
                        key: { text: "Coping in custody or a hostel" },
                        value: { html: roshDetail(risks.self.custody) }
                    },
                    {
                        key: { text: "Vulnerability (eg victimisation, being bullied or exploited)" },
                        value: { html: roshDetail(risks.self.vulnerability) }
                    }
                ]
            }) }}

            {% if risks.assessedOn %}
                <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-body-s app-hint-s">
                    OASys assessment completed on {{ risks.assessedOn | shortDate }}
                </p>
            {% endif %}
        {%- endcall %}
    {% elseif risks.status === 'missing' %}
        {% set noRisksWarning %}
            <h2 class="govuk-heading-m">There is no OASys risk assessment for {{ shortName }}</h2>
            <p>We do not know:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Risk of serious harm (ROSH) in the community</li>
                <li>Risk of serious harm to themselves</li>
            </ul>
            <p class='govuk-body'>
                <a href='{{ links.noAssessment }}'>View OASys</a>
            </p>
        {% endset %}
        {{ govukNotificationBanner({
            html: noRisksWarning,
            attributes: { 'data-qa': 'offender/risk/no-risk-assessment' }
        }) }}
    {% endif %}

    {% call appSummaryCard({
        titleText: 'Risk flags',
        classes: 'app-summary-card--large-title govuk-!-margin-bottom-6',
        actions: { items: [{ href: links.addRiskFlag, text: "Add a risk flag in Delius" }] }
    }) -%}
        {% if registrations.active.length === 0 %}
            <p class='govuk-body' data-qa='offender/risk/no-active-registrations'>
                <strong>There are no current risk flags. Add risk flags in Delius.</strong>
            </p>
        {% endif %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class='govuk-body'>
                    Risk flags (registrations) show circumstances that need prominent and constant visibility.
                    Review flags regularly, and remove them when they are no longer appropriate.
                </p>
            </div>
        </div>

        {% if registrations.active.length > 0 %}
            {{ govukTable({
                classes: 'govuk-!-margin-bottom-4',
                attributes: { 'data-qa': 'offender/risk/registrations' },
                head: [
                    { text: 'Flag', classes: 'app-width-30pc' },
                    { text: 'Notes', classes: 'app-width-55pc' },
                    { text: 'Review due', classes: 'app-width-15pc' }
                ],
                rows: registrations.active | toTableRows([
                    { type: 'link', path: 'text', href: 'links.view', classes: 'govuk-!-padding-top-3 govuk-!-padding-bottom-3' },
                    { type: 'text', path: 'notes', defaultValue: 'No notes', classes: 'govuk-!-padding-top-3 govuk-!-padding-bottom-3' },
                    { type: 'short-date', path: 'reviewDue', defaultValue: 'None', classes: 'govuk-!-padding-top-3 govuk-!-padding-bottom-3' }
                ])
            }) }}
        {% endif %}

        {% if registrations.inactive.length > 0 %}
            <p class="govuk-!-margin-bottom-0" data-qa='offender/risk/view-inactive-registrations'>
                <a href="{{ links.viewInactiveRegistrations }}">View removed risk flags ({{ registrations.inactive.length }})</a>
            </p>
        {% endif %}
    {%- endcall %}

{% endblock %}
