{% extends "partials/layout.njk" %}
{% set pageTitle = appointment.name + ' – ' + displayName %}
{% from 'components/summary-card.njk' import appSummaryCard %}
{% block content %}
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
       {% if appointment.nationalStandard %} <span class="govuk-caption-l">National standard appointment</span>  {% endif %}
        {{ appointment.name }}
    </h1>

    <div class="govuk-!-margin-bottom-6">
        {% for tag in appointment.tags %}
            {{ govukTag({
                text: tag.name,
                classes: tag.colour | tagClassName,
                attributes: { 'data-qa': 'tag' }
            }) }}
        {% endfor %}
    </div>

    {% call appSummaryCard({ titleText: 'Appointment details', classes: 'app-summary-card--large-title govuk-!-margin-bottom-6' }) -%}
    {{ govukSummaryList({
        attributes: {
            'data-qa': 'offender/activity/appointment'
        },
        rows: [
            {
                key: { text: "Type of appointment" },
                value: { text: appointment.typeName }
            },
            {
                key: { text: "Date" },
                value: { text: appointment.start | shortDate }
            },
            {
                key: { text: "Time" },
                value: { text: appointment.start | timeRange(appointment.end) }
            },
            {
                key: { text: "RAR activity" },
                value: { text: appointment.requirement.isRar | yesNo }
            },
            {
                key: { text: "Appointment notes" },
                value: { html: (appointment.notes | nl2br) if appointment.notes else 'No notes' },
                actions: { items: [{ href: appointment.links.updateOutcome, text: "Change" }] }
            } if not appointment.outcome,
            {
                key: { text: "Sensitive" },
                value: { text: appointment.sensitive | yesNo }
            } if not appointment.outcome
        ]
    }) }}
    {%- endcall %}

    {% if appointment.outcome %}
        {% call appSummaryCard({ titleText: 'Outcome details', classes: 'app-summary-card--large-title govuk-!-margin-bottom-6' }) -%}
        {{ govukSummaryList({
            attributes: {
                'data-qa': 'offender/activity/outcome'
            },
            rows: [
                {
                    key: { text: "Complied" },
                    value: { text: appointment.outcome.complied | yesNo },
                    actions: { items: [{ href: appointment.links.updateOutcome, text: "Change" }] }
                },
                {
                    key: { text: "Appointment notes" },
                    value: { html: (appointment.notes | nl2br) if appointment.notes else 'No notes' },
                    actions: { items: [{ href: appointment.links.updateOutcome, text: "Change" }] }
                },
                {
                    key: { text: "Sensitive" },
                    value: { text: appointment.sensitive | yesNo }
                }
            ]
        }) }}
        {%- endcall %}
    {% endif %}
{% endblock %}
