{% extends "partials/layout.njk" %}

{% set pageTitle = "Select a case on your caseload" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

            <p class='govuk-!-margin-bottom-5'>
                In order to perform this action, the case must be eligible for the pilot and be on your caseload.
            </p>

            {{ govukButton({ text: 'Back to your cases', href: links.cases }) }}
        </div>
    </div>
{% endblock %}
