{% extends "partials/layout.njk" %}

{% set pageTitle = 'You cannot perform this action' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

            <p>You do not have permission to do this on a case that’s not in your caseload.</p>

            <p>
                Contact the Manage supervisions support team if you require further assistance:
                <a href="mailto:manage-supervisions-support@digital.justice.gov.uk">manage-supervisions-support<wbr>@digital.justice.gov.uk</a>.
            </p>
        </div>
    </div>
{% endblock %}