.app-card {
  background-color: govuk-colour("light-grey");
  display: block;
  padding: govuk-spacing(2);
  @include govuk-font($size: 19);

  @include govuk-media-query($from: desktop) {
    padding: govuk-spacing(4);
  }
}

@mixin colourAndLinkColour($colour) {
  color: $colour;
  a {
    color: $colour;
  }
}


.app-card--blue {
  background: govuk-colour("blue");
  @include colourAndLinkColour(govuk-colour("white"));
}

.app-card--grey {
  background: govuk-colour("dark-grey");
  @include colourAndLinkColour(govuk-colour("white"));
}

.app-card--green {
  background: govuk-colour("green");
  @include colourAndLinkColour(govuk-colour("white"));
}

.app-card--red {
  background: govuk-colour("red");
  @include colourAndLinkColour(govuk-colour("white"));
}